.Table {
  box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(10, 14, 29, .08);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;

  h2 {
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #325afc 0%, #1d7df2 100%);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 0.75rem;
    font-size: 1rem;
    color: white;
    font-family: 'Lato';
  }

  .Header {
    color: #a1a5b2;
    font-size: 1.1rem;
  }

  .Column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    padding: 0 1rem 1rem;
  }

  .Row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    div {
      padding: 0.5rem;
    }
  }
}