.Header {
  background: linear-gradient(90deg, #325afc 0%, #1d7df2 100%);
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;

  .Input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    + label {
      font-size: 1rem;
      font-weight: 700;
      display: inline-block;
      color: #fefefe;
      border: 1px solid white;
      padding: 0.75rem;
      border-radius: 0.25rem;
      opacity: 0.7;
      cursor: pointer;
    }

    :focus + label,
    + label:hover {
      opacity: 1;
    }
  }
}